* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --BodyBGColor: #1B0112;
  --HeaderBGColor: #5A0834;
  --FontColor: #F0EC8B;
  --HoverShadow: 5px 5px 30px black;
  --ButtonColot: #9D0B51;
}

.main-wrp {
  min-height: 100vh;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--BodyBGColor);

}

.todo-wrp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
}


header {
  width: 100vw;
  padding: 0 0.25em;
  background-color: var(--HeaderBGColor);
  color: var(--FontColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

main {
  width: 100vw;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
  margin-top: 0.5rem;
}

footer {
  width: 100vw;
  padding: 0.25em;
  background-color: var(--HeaderBGColor);
  color: var(--FontColor);
  display: grid;
  place-content: center;
}


.item {
  width: 100vw;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--HeaderBGColor);
  margin-bottom: 0.15rem;
  min-height: 6vh;
  height: auto;
  align-items: center;
  color: var(--FontColor);
  font-weight: bold;
}



.item input[type='checkbox'] {
  border: 2px solid var(--FontColor);
  text-align: center;
  width: 2.5rem;
  width: 40px;
  min-width: 40px;
  height: 2.5rem;
  height: 40px;
  min-height: 40px;
  cursor: pointer;
  margin-right: 0.5rem;
  margin-left: 0.15rem;

}

.item>label {
  font-size: 0.75rem;
  flex-grow: 1;
}



input[type='checkbox']:hover {
  box-shadow: var(--HoverShadow);
}

.item label:hover {
  cursor: pointer;
  text-shadow: var(--HoverShadow);
  opacity: 0.7;
}


.item svg {
  min-height: 40px;
  width: 40px;
  color: var(--ButtonColot);
  margin-right: 0.25rem;
  cursor: pointer;
}

.item svg:hover {
  color: red;
  box-shadow: var(--HoverShadow);
}

.addForm {
  width: 100%;
}

.addForm input {
  width: 87%;
  height: 5vh;
  background-color: var(--ButtonColot);
  font-size: 1rem;
  font-weight: bold;
  border: 1px solid var(--FontColor);
  cursor: pointer;
  padding-left: 1rem;
  border-radius: 10px;
  margin-top: 5px;
  border-top: none;
  margin-left: 1rem;
  margin-right: 0.3rem;
  color: var(--FontColor);

}

.addForm input::placeholder {
  color: var(--FontColor);
  opacity: 0.7;
}

.addForm input:focus {
  outline: none;
}



.addForm button {
  width: 5.5%;
  height: 4.8vh;
  background-color: var(--ButtonColot);
  color: var(--FontColor);
  border: none;
  border-radius: 10px;
  margin-left: 2px;
  cursor: pointer;
  border: 1px solid var(--FontColor);
  border-top: none;
}


@media (max-width: 450px) {
  .addForm input {
    width: 78%;
  }

  .addForm button {
    width: 10%;

  }
}

.addForm button:hover {
  text-shadow: var(--HoverShadow);
  opacity: 0.8;
}


.addForm label {
  position: absolute;
  left: -99999px;
}


.searchForm {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0.25rem 0 0;
  padding: 0 0.5rem 0.25rem;

}

.searchForm label {
  position: absolute;
  left: -99999px;
}

.searchForm input[type='text'] {
  flex-grow: 1;
  max-width: 100%;
  min-height: 40px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.35rem;
  outline: none;
  background-color: var(--ButtonColot);
  font-weight: bold;
  border: 1px solid var(--FontColor);
  cursor: pointer;
  border-radius: 10px;
  border-top: none;
  color: var(--FontColor);
}

.searchForm input[type='text']::placeholder {
  color: var(--FontColor);
  opacity: 0.7;
}


.timer-Container {

  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1501139083538-0139583c060f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  width: 100vw;
}

.timer {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 7em;
  padding-top: 2em;
  width: 100%;
  height: 100%;
  margin-bottom: 1rem;
}

.timer div:first-child {
  text-align: center;
}

.timer-icon {
  font-size: 8em;
}

.h2countdown {
  font-weight: 600;
  margin-bottom: 0.5em;
}


.timer-last-div p {
  color: #f8f8f8;
}

.timer div:last-child {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  margin-top: 3em;
  padding: 3em;
  text-align: center;
  align-items: center;
  border: 1px solid white;
  border-radius: 3px;
}

section p:first-child, .timer div:last-child span {
  font-size: 3em;
}


.timer div:last-child span {
  margin-bottom: 1rem;
}


.quizz {
  text-align: center;
  background-color: #1b0112;
  width: 100%;
  height: 100%;
  color: #9D0B51;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}



.question-card {
  margin: 0 auto;
  width: 80%;
  height: auto;
  background-color: #5A0834;
  padding: 16px;
  border-radius: 16px;
  color: antiquewhite;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.question-card ul {
  list-style: none;
}

.question-card ul li {
  margin-top: 8px;
  background-color: #f089ba;
  padding: 16px;
  border: 3px solid palevioletred;
  border-radius: 20px;
  font-size: 20px;
  cursor: pointer;
}

.question-text {
  color: rgb(225, 114, 151);
  font-size: 24px;
}

.question-card ul li:hover {
  box-shadow: 1px 1px 20px black;
}



.final-results {

  margin: 0 auto;
  width: 50%;
  height: auto;
  margin-top: 64px;
  background-color: #9D0B51;
  padding: 16px;
  border-radius: 16px;
  color: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.final-results button {
  background-color: rgb(91, 22, 45);
  border: none;
  color: white;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  border-radius: 24px;
  cursor: pointer;
}

.final-results button:hover {
  box-shadow: 5px 2px 20px black;
}


.home {
  height: 100vh;
  background-color: #111;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}


.home button {
  height: 10%;
  width: 50%;
  font-size: 25px;
  font-weight: bold;
  box-shadow: 0 0 10px black;
  color: white;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}


.home button:hover {
  transform: scale(1.2);
}

.home h1 {
  color: white;
  text-shadow: 0 0 5px black;
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0 0 5px purple, 0 0 3px blue, 0 0 3px rgb(155, 40, 155), 0 0 5px rgb(1, 1, 120);
}

.todo-btn {
  background-image: linear-gradient(to right, rgb(6, 6, 91), rgb(80, 8, 101));

}

.quiz-btn {
  background-image: linear-gradient(to right, rgb(49, 49, 206), rgb(147, 10, 189));

}

.countdown-btn {
  background-image: linear-gradient(to right, rgb(19, 19, 158), rgb(96, 13, 121));
}

.tik-btn {
  background-image: linear-gradient(to right, rgb(108, 108, 220), rgb(161, 28, 202));
}

.anim-btn {
  background-image: linear-gradient(to right, rgb(123, 123, 224), rgb(187, 90, 216));
}


.board {
  display: grid;
  grid-template-columns: repeat(3, 6rem);
  place-items: center;
  justify-content: center;
}

.box {
  background-color: #ffffff;
  border: none;
  border-radius: 10%;
  box-shadow: 0px 0px 8px #888888;
  width: 5rem;
  height: 5rem;
  text-align: center;
  font-size: 5em;
  font-family: "Fredoka", sans-serif;
  font-weight: bold;
  line-height: 5rem;
  margin: 0.5rem;
}

.x {
  background-image: linear-gradient(to right, rgb(72, 0, 72), rgb(229, 2, 229));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;



}

.o {
  background-image: linear-gradient(to right, rgb(182, 182, 246), rgb(5, 5, 203));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;


}

.box:hover {
  box-shadow: 0px 0px 15px #888888;
}

.reset-btn {
  border: none;
  border-radius: 0.5rem;
  background-image: linear-gradient(to right, blue, purple);
  color: white;
  font-size: 2rem;
  padding: 0.5rem 1rem;
  margin: 2rem auto;
  display: block;
  cursor: pointer;
  font-weight: bold;
}

.reset-btn:hover {
  opacity: 0.7;
}

.scoreboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 20rem;
  font-size: 1.5rem;
  background-color: white;
  margin: 3rem auto;
  box-shadow: 0px 0px 8px #888888;
  border-radius: 0.5rem;
  font-weight: bold;
}

.score {
  width: 100%;
  text-align: center;
  padding: 1rem 0rem;
}

.x-score {
  background-image: linear-gradient(to right, rgb(72, 0, 72), rgb(229, 2, 229));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  border-bottom: 5px solid rgb(212, 66, 115);
  border-radius: 0.5rem 0rem 0rem 0.5rem;
}

.o-score {
  background-image: linear-gradient(to right, rgb(182, 182, 246), rgb(5, 5, 203));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  border-bottom: 5px solid rgb(63, 63, 252);
  border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.inactive {
  border-bottom: 5px solid transparent;
}


.TikTakToe {
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #111;
}

.TikTakToe h2 {
  font-size: 50px;
  background-image: linear-gradient(to right, blue, purple);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  text-decoration: underline;

}

.TikTakToe p {
  font-size: 30px;
  color: whitesmoke;
  text-shadow: 0 0 3px white;
}

.extra-wrp {
  height: 100vh;
  width: 100vw;
  background: radial-gradient(circle, #000000, #0000FF, #800080);
}

.extra {
  margin-top: 2rem;
  height: 70vh;
  box-shadow: 0 0 10px black;
  position: relative;
  background: transparent;
}


.extra figure {
  height: 50vh;
  width: 20%;
  position: absolute;
  bottom: 0;
  right: 4%;
}

.extra figure img {
  width: 100%;
  height: 100%;
}



.thought {
  box-shadow: 0 0 10px black;
  width: 70%;
  border-radius: 50%;
  height: 420px;
  background: transparent;
  margin: 50px auto;
  position: relative;
  left: -10%;
  top: 0;
}


.round-div {
  overflow: hidden !important;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
}




.round-div h2 {
  font-size: 45px;
  position: absolute;
  left: 26%;
  font-weight: bold;
  top: 8%;
  z-index: 2;
  color: white;

}

.round-div svg {

  position: absolute;
  left: -20%;
  top: 8%;
}

#rotating-planet {
  height: 400px;
  margin: 0 auto;
  display: block;
}

.multiply {
  mix-blend-mode: multiply;
}

#clip {
  -webkit-clip-path: url(#planet);
  clip-path: url(#planet);
}

#texture {
  -webkit-animation: rotate 25s linear infinite;
  animation: rotate 25s linear infinite;
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }

  100% {
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
  }
}